* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


header {
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    position: relative;
}
header ul {
    display: flex;
    justify-content: space-between;
}
header ul li a:hover {
    color: rgb(7, 216, 184);
}
main div section a img{
    height: 500px;
    width: 100%;
}
.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: rgba(114, 170, 114, 0.3);
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
}

nav li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {
    padding: 5px;
    color: white;
   
    text-decoration: none;;
}

.cart ion-icon {
   vertical-align: bottom;
   font-size: 20px;
   padding-right: 5px;
}

.cart a {
 
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.container,
.container-products {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
}

.image {
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: rgb(115, 206, 233);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
    border-radius:2px;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4, 
.image:hover .cart5 {
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}

----------------- CART PAGE ---------------

.container-products {
    max-width: 700px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.container-products ion-icon {
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 200%;
    max-width: 900px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width: 45%;
    border-bottom: 1px solid lightgray;

}

.price {
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}

.product ion-icon {
    cursor: pointer;
    
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}

@media(max-width: 500px) {
    nav h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;;
    }

    .sm-hide {
        display: none;;
    }

    .products,
    .product-header {
        justify-content: center;
    }

    .basketTotalContainer {
        padding-right: 8%;
    }
}


.page-footer{
    background-color: rgb(186, 176, 176);
    display: flex;
    height: 300px;
    justify-content: space-around;
    align-items: center;
  }
    .page-footer .section-col5{
      display: flex;
      flex-direction: column;
    }
  .page-footer section ul li a{
    text-decoration: none;
    color: #292727;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .page-footer section ul li{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .page-footer section h4{
    color: #000000;
    padding-bottom: 5px;
  }
  
  .page-footer .section-col5 p{
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .page-footer .section-col5 p a{
    color: #000000;
  }
  
  .page-footer .section-col5 input{
  font-size: 13px;
  padding: 2px 10px 2px 0;
  color: #333;
  border: none;
  border-bottom: 2px solid #3f3c3c;
  background: transparent;
  }



